<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nội dung chi tiết bài viết</title>

    <!-- khai báo bootstrap css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css" integrity="sha512-Ez0cGzNzHR1tYAv56860NLspgUGuQw16GiOOp/I2LuTmpSK9xDXlgJz3XN4cnpXWDmkNBKXR/VDMTCnAaEooxA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- nhúng các file css của dev -->
    <link rel="stylesheet" href="../Css/layout.css">
    <link rel="stylesheet" href="../Css/content.css">


    <!-- nhúng thư viện jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>
<body>
    <!--  demo xây dựng fe theo thiết kế -->
    <!-- header page -->
    <header >
        <div class="container">
            
            <nav class="navbar navbar-expand w-100 navbar-light bg-light">
                <div class="d-flex justify-content-between w-100">
                  <div class="w-25">
                    <a class="navbar-brand" href="#">
                        <img src="../Images/logo.png" alt="logo">
                      </a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                  </div>
                  
                  <div class="collapse navbar-collapse w-75" id="navbarNav">
                    <ul class="navbar-nav w-100 d-flex justify-content-between ">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">TRANG CHỦ</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">GIỚI THIỆU</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">SẢN PHẨM</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">TIN TỨC</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">LIÊN HỆ</a>
                          </li>
                    </ul>
                  </div>
                </div>
              </nav>
        </div>
    </header>
    <!-- end header -->
    <!-- body page -->


    <!-- end body -->
    <!-- footer page -->

    <!-- end foorer -->


    <!-- khai báo bootstrap js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.min.js" integrity="sha512-EKWWs1ZcA2ZY9lbLISPz8aGR2+L7JVYqBAYTq5AXgBkSjRSuQEGqWx8R1zAX16KdXPaCjOCaKE8MCpU0wcHlHA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- khai báo các file js của dev -->
    <script src="../Js/common.js"></script>
    <script src="../Js/content.js"></script>
</body>
</html>