<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Function in Javascrip</title>
</head>
<body>
    <h1>Function in javascript</h1>

    <section style="display: flex; margin:auto; width: 1000px">
        <form class="infor">
            <div style="display: flex; margin-bottom: 50px">
                <div style="width: 150px">
                    Họ và tên
                </div>
                <div>
                    <input type="text" name="fullName" id="fullName">
                </div>
            </div>
            <div style="display: flex; margin-bottom: 50px">
                <div style="width: 150px">
                    Tuổi
                </div>
                <div>
                    <input type="text" name="age" id="age">
                </div>
            </div>
            <div>
                <button type="button" onclick="showInfor()">Lưu</button>
            </div>
        </form>
   </section>

   
   <section style="display: flex; margin:auto; width: 1000px">
    <form class="infor">
        <h2>Check infor</h2>
        <div style="display: flex; margin-bottom: 50px">
            <div style="width: 150px">
                Username
            </div>
            <div>
                <input type="text" name="userName" id="userName">
            </div>
        </div>
        <div style="display: flex; margin-bottom: 50px">
            <div style="width: 150px">
                Pass
            </div>
            <div>
                <input type="password" name="pass" id="pass">
            </div>
        </div>
        <div>
            <button type="button" onclick="checkInfor()">Tiếp tục</button>
        </div>
    </form>
</section>


    <script language="javascript" src="../Js/function.js"></script>
</body>
</html>