<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews</title>
</head>
<body>
    

    <h1>javascript basic</h1>
    <pre>
        ....
        1, Array: 
            - Khái niệm: tập hợp của các phần tử
                vd: arr = [1, 2, 3 , 4]
            - Đặc điểm: + Mỗi phần tử sẽ đc đánh dấu bởi 1 vị trí (index) (0 => độ dài mảng - 1)
                        + Tương tác với các phần tử trong mảng qua index
                        vd: arr[2] = 100;
        2, function
            - mục đích:
            - cú pháp: 
        3, DOM
            - Ứng dụng: 
            - skill: object, regular, string,...


    
            *) tổng kết: 
            - Các quy tắc phân chia bố cục và sử dụng các element hợp lý
            - Nắm được các selector và độ ưu tiên trong css 
            - JS: các khái niệm lập trình cơ bản (biến, mảng, hàm, toán tử, object)
                    các lưu ý khi mới bắt đầu xây dựng hàm và sử dụng dữ liệu dạng mảng, đối tượng
    </pre>
</body>
</html>