<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Javascript</title>
</head>
<body>
    <h1>Tổng hợp:</h1>
    <pre>
        1, Các khái niệm - cú pháp cơ bản:
            - Mục đich, ý nghĩa, cách sử dụng JS
            - Các cú pháp khai báo: biến, mảng, đối tượng, hàm...
        2, Các phương thức tương tác với array, object
        3, Các lưu ý khi xây dựng hàm ở giai đoạn đầu
        4, Kết hợp sử dụng hàm, array, object 
    </pre>
</body>
</html>