<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="../Css/common.css">
    <link rel="stylesheet" href="../Css/news.css">
</head>
<body>
    <header>
        <nav class="d-flex menu w-60 mx-auto jus-between align-item-center">
            <div class="x-menu">
                <span><i class="fa-solid fa-xmark"></i></span>
            </div>
            <div class="logo-header">
                <img src="../images/acatea-green.svg" class="w-100 logo" alt="logo tra sen">
            </div> 
            <div class="list-option">
                <ul class="list-item d-flex jus-between">
                    <li class="item"> 
                        <a href="#" title="trang chủ">TRANG CHỦ</a>
                    </li>
                    <li class="item"> 
                        <a href="#" title="Giới thiệu">GIỚI THIỆU</a>
                    </li>
                    <li class="item"> 
                        <a href="#" title="SAN PHAM">SẢN PHẨM</a>
                    </li>
                    <li class="item"> 
                        <a href="#" title="TIN TUC" class="active">TIN TỨC</a>
                    </li>
                    <li class="item"> 
                        <a href="#" title="LIÊN HỆ">LIÊN HỆ</a>
                    </li> 
                </ul>
            </div>
        </nav>

    </header>

    <section>
        <div class="title">
            <h2>
                TIN TỨC
            </h2>
        </div>

        <div class="list-news d-flex w-60 mx-auto jus-between align-item-center">
            <div class="news-item w-30">
                <div class="news-img">
                    <img src="../images/14_ Am tra 1 coc.png" alt="item">
                </div>
                <div class="news-content">
                    <div class="news-title">
                        <h4>Cách sử dụng trà thảo dược mang lại ách sử dụng trà thảo dược mang lại ách sử dụng trà thảo dược mang lại ách sử dụng trà thảo dược mang lại hiệu quả tốt cho sức khỏe</h4>
                    </div>
                    <div class="news-desc">
                        <p>
                        Trà thảo dược được coi là một loại thực phẩm chức năng có tác dụng tốt cho sức khỏe. Tuy nhiên, để có...
                        Trà thảo dược được coi là một loại thực phẩm chức năng có tác dụng tốt cho sức khỏe. Tuy nhiên, để có...
                        Trà thảo dược được coi là một loại thực phẩm chức năng có tác dụng tốt cho sức khỏe. Tuy nhiên, để có...
                        </p>
                    </div>
                </div>
            </div>
            <div class="news-item w-30">
                <div class="news-img">
                    <img src="../images/14_ Am tra 1 coc.png" alt="item">
                </div>
                <div class="news-content">
                    <div class="news-title">
                        <h4>Cách sử dụng trà thảo dược mang lại hiệu quả tốt cho sức khỏe</h4>
                    </div>
                    <div class="news-desc">
                        <p>
                        Trà thảo dược được coi là một loại thực phẩm chức năng có tác dụng tốt cho sức khỏe. Tuy nhiên, để có...
                        </p>
                    </div>
                </div>
            </div>
            <div class="news-item w-30">
                <div class="news-img">
                    <img src="../images/14_ Am tra 1 coc.png" alt="item">
                </div>
                <div class="news-content">
                    <div class="news-title">
                        <h4>Cách sử dụng trà thảo dược mang lại hiệu quả tốt cho sức khỏe</h4>
                    </div>
                    <div class="news-desc">
                        <p>
                        Trà thảo dược được coi là một loại thực phẩm chức năng có tác dụng tốt cho sức khỏe. Tuy nhiên, để có...
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <footer>

    </footer>
</body>
</html>