<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Css/common.css">
    <link rel="stylesheet" href="../Css/news.css">
</head>
<body>
    <header>
        <nav class="d-flex menu w-60 mx-auto jus-between align-item-center">
            <div class="logo-header">
                <img src="../images/acatea-green.svg" class="w-100 logo" alt="logo tra sen">
            </div> 
            <div class="list-option">
                <ul class="list-item d-flex jus-between">
                    <li class="item"> 
                        <a href="#" title="trang chủ">TRANG CHỦ</a>
                    </li>
                    <li class="item"> 
                        <a href="#" title="Giới thiệu">GIỚI THIỆU</a>
                    </li>
                    <li class="item"> 
                        <a href="#" title="SAN PHAM">SẢN PHẨM</a>
                    </li>
                    <li class="item"> 
                        <a href="#" title="TIN TUC" class="active">TIN TỨC</a>
                    </li>
                    <li class="item"> 
                        <a href="#" title="LIÊN HỆ">LIÊN HỆ</a>
                    </li> 
                </ul>
            </div>
        </nav>
    </header>

    <section>

    </section>

    <footer>

    </footer>
</body>
</html>