<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Javascript cơ bản</title>
</head>
<body>
    I, Khái niệm và công dụng - ý nghĩa (là gì - tại sao)

    II, Cách sử dụng
        - 3 cách:   + trực tiếp trên element
                    + sử dụng trên trên trang html bằng việc bao ngoài bẳng thẻ <script></script>
                    + tạo và nhúng file có phần mở rộng là .js - nhúng bằng thẻ <script scr=".."></script>
    
    III, Nội dung cần nắm
    1, Biến 
        - các khai báo: kiểu dữ liệu - tên biến - giá trị của biến;
        - cách sử dụng
    


    
    <script language="javascript" src="../Js/index.js"></script>
</body>
</html>