<!DOCTYPE html>
<html lang="en" style="font-size: 20px;">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Review</title>

    </head>
    <body style="font-size: 15px;">
        <h1 style="font-size: 1rem;">
            Review HTML & CSS
        </h1>
        
        <pre >
            I, HTML 
                1, Bố cục - cấu trúc 
                2, Cú pháp (các thẻ bố cụ và nội dung)
                    +,  thẻ đóng - thẻ mở
                    +,  các thuộc tính trong một element (mặc định - tự định nghĩa)
                        <!-- vd: <a href="" title="" demo="demo1" data-dev="devmaster"></a> -->
                    +, form - table: cấu trúc - ý nghĩa
            
            II, CSS
                1, Các sử dụng: tạo file, nhúng file.
                                <!-- + tạo file : '<tên_file>.<css>' -->
                                <!-- + nhúng file: sử dụng thẻ "<link href="địa chỉ file">" -->
                2, Cú pháp: 
                    +, Selector: id, attr, class, element
                        *) độ ưu tiên trong css   

                        <!-- <a href="#" id="dev" class="student" data-attr="VNP">devmaster</a> -->
                        <!-- #dev{color: red}
                            .student{ color: black}
                            .student{ color: black}
                            [data-attr="VNP"]{color: blue}
                            a{color: green}
                        -->
                    +, animation & responsive 
                        animation: cách khai báo và sử dụng : @keyframe
                        responsive:
                            *) sử dụng các đơn vị: px - % - rem, em 
                            *) khai báo áp dụng responsive cho từng màn hình: @media

            III, Javascript
            *) Các khái niệm cơ bản: 
            *) Thực hành - cơ bản  +> nâng cao
            *) Sử dụng thư viện: Jquery - khải niệm & cách sử dụng
                                        - áp dụng thực hành
            *) Cắt ghép ảnh & sử dụng bootstrap
        </pre>
    </body>
</html>